
<div class="container">
	<div class="screen">
		<div class="screen__content">
            <div class="screen__title">
                <p class="login-register__title">Login</p>
                <a href="register" class="login-register__link">Register</a>	
            </div>
			<form id="login" method="POST" action="/api/auth/login" class="login-register">
				<div class="login-register__field">
					<i class="login-register__icon fas fa-user"></i>
					<input type="text" class="login-register__input" name="username" id="username" placeholder="User name">
				</div>
				<div class="login-register__field">
					<i class="login-register__icon fas fa-lock"></i>
					<input type="password" class="login-register__input" name="password" id="password" placeholder="Password">
				</div>
			</form>
            <button type="submit" form="login" class="button login-register__submit">
                <span class="button__text">Log In Now</span>
                <i class="button__icon fas fa-chevron-right"></i>
            </button>		
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>